.subTitle {
    font-size: 18px;
    color: #636366;
    font: normal normal normal 18px/21px SF Pro Display;
}
.title {
    color: #2c2c2e;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px;
    font: normal normal normal 18px/21px SF Pro Display;
}
