.subTitle {
    font-size: 18px;
    color: #636366;
    font: normal normal normal 18px/21px SF Pro Display;
}
.title {
    color: #2c2c2e;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px;
    font: normal normal normal 18px/21px SF Pro Display;
}

#combined {
    display:flex;
}

#legend {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.color {
    border-radius:5px;
}

.key {
    display:flex;
    align-items:center;
}

.viewName {
    margin-left:10px;
    font: normal normal normal 18px/21px SF Pro Display;    
}

.#DCEDC8 {
    background-color:black;
}
  
