.App {
  text-align: center;
  background-color: #f3f3f8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "Prohibition";
  src: local("Pohibition"),
    url(./fonts/Prohibition-Lines.ttf) format("truetype");
}

@font-face {
  font-family: "Staatliches";
  src: local("Staatliches"),
    url(./fonts/Staatliches-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "RightGrotesk";
  src: local("RightGrotesk"),
    url(./fonts/RightGrotesk-Medium.otf) format("opentype");
}
@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"),
    url(./fonts/HelveticaNeue-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SFProDisplay-Regular"),
    url(./fonts/SFProDisplay-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SFProDisplay-Bold";
  src: local("SFProDisplay-Bold"),
    url(./fonts/SFProDisplay-Bold.ttf) format("truetype");
}

.App-header {
  background-color: #f3f3f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----- responsive landing ----- */

.hero-container {
  background-color: #f3f3f8;
}
.hero-container .logo {
  display: flex;
}

.hero-right {
  padding: 20px 50px 30px 70px;
  height: auto;
}
.hero-left {
  padding: 20px 50px 30px 70px;
  background-color: white;
  height: fit-content;
}

.info-container {
  display: flex;
}
.infoDesc {
  font-family: "SFProText-RegularItalic";
}
.Testimonial > div {
  background-color: #f1f4f4;
  color: #000000;
  text-align: center;
  border: 1px solid #136d74;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
  height: 160px;
}

.slick-dots li.slick-active button:before {
  color: #881798;
}

.slick-prev:before,
.slick-next:before {
  color: #881798;
}

@media only screen and (max-width: 768px) {
  .hero-container {
    display: block;
    width: 100%;
  }

  .hero-right {
    width: 100%;
    padding: 0;
    min-height: fit-content;
  }

  #mobileInfoSection {
    width: 100%;
    padding: 20px 0;
  }

  .info-container {
    display: block;
  }
  .locationContainer {
    width: 50%;
  }
}

/* ----- responsive cart ----- */
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contentWrap {
  flex: 1;
}
.containerFooter {
  background-color: #ff8500;
  padding-top: 20px;
  position: relative;
  bottom: 0;
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}
.containerFooter {
  display: inline-block;
  min-width: 90%;
  margin: auto;
}
.container {
  display: inline-block;
  min-width: 80%;
  margin: auto;
}

.checkout-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  /* justify-content: flex-end; */
}

.checkout-left {
  width: 45%;
}
.checkout-right {
  width: 55%;
}

.responsive-checkout-tab {
  padding: 0 50px;
}

.responsive-payment-tab {
  padding: 0 40px;
}

#responsiveExpectedDelivery {
  padding: 50px 0;
}

@media only screen and (max-width: 992px) {
  .checkout-container {
    display: block;
  }
  .container {
    display: block;
  }

  .checkout-left,
  .checkout-right {
    width: 100%;
  }
  .checkout-right {
    width: 100%;
  }

  .responsive-checkout-tab {
    padding: 0 25px;
  }
  .responsive-payment-tab {
    padding: 0 25px;
  }
}

/* ----- responsive store -----*/

.responsive-store {
  display: flex;
}
.responsive-display-produce {
  margin-left: 20px;
  padding: 30px;
}

@media only screen and (max-width: 768px) {
  .responsive-store {
    display: block;
  }
  .responsive-display-produce {
    margin-left: 0;
    padding: 10px 4px;
  }
}

@media only screen and (max-width: 400px) {
  .responsive-display-produce {
    padding: 10px 0;
  }
}
